<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/user.css">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title></title>
</head>

<body>
    <div class="page-header">
        <div class="top-nav">
            <span class="address">西安</span>
            <span class="register">注册</span> |
            <span class="login">登录</span>
        </div>
        <div class="middle-nav">
            <div class="logo">MeiBaiE</div>
            <div class="selection">
                <div class="home">首页</div>
                <div class="order">我的订单</div>
                <div class="reg-rst">入驻加盟</div>
            </div>
            <div class="search-box">
                <input type="text">
                <button><i class="el-icon-search" style="font-size:30px"></i></button>
            </div>
        </div>
    </div>
    <div class="page-wrap">
        <div class="content"></div>
    </div>
    <div class="page-footer">
        <a href="" class="reg-rst-footer"></a>
        <a href="" class="login-rst"></a>
        <a href="" class="login-admin"></a>
        <span class="developer"></span>
        <span class="contact"></span>
    </div>
</body>

</html>